.card-pokemon {
  width: 262px;
  height: 375px;
  margin: 1rem;
  perspective: 1000px;
  cursor: pointer;
  background-color: transparent;

  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform .8s cubic-bezier(1,-.5,0,1.5);
    transform-style: preserve-3d;
    
    &[data-reverse="true"] {
      transform: rotateY(180deg);
    }
  }

  .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: .75rem;
    overflow: hidden;
    box-sizing: border-box; 
  }

  .card-front {
    border: solid .5rem;
    display: flex;
    flex-direction: column;

    .addToPokedex {
      position: absolute;
      top: .5rem;
      right: .5rem;
      width: 2rem;
      height: 2rem;
      z-index: 10;
      transition: transform 0.2s;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.6);
      border-radius: .75rem; 

      img {
        width: 100%;
        height: 100%;
      }

      &:hover {
        transform: scale(.97);
      }
    }

    figure {
      display: flex;
      flex-direction: column;
      height: 100%;
      margin: 0;
    }

    picture {
      flex: 1; 
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(black, 0.1);
      
      img {
        width: 80%;
        max-height: 250px;
        object-fit: contain;
        filter: drop-shadow(0 5px 5px rgba(black,0.3));
      }
    }

    figcaption {
      background-color: rgba(white, 0.6);
      position: relative;
      flex-grow: 0;

      h2 {
        margin: 5px 0;
        text-transform: capitalize;
        color: #333;
        font-family: sans-serif;
      }

      .types {
        position: absolute;
        top: -1.25rem;
        left: .25rem;
        display: flex;
        gap: .25rem;

        img {
          width: 2rem;
          height: 2rem;
          background-color: #444;
          border-radius: 50%;
          padding: .25rem;
          box-sizing: border-box;
          box-shadow: 0 2px 4px rgba(0,0,0,0.3);
        }
      }

      ol {
        list-style: none;
        padding: 0;
        margin: 10px 0 0 0;
        
        li {
            margin-bottom: 3px;
            font-size: 0.9rem;
            color: #444;
            font-weight: 500;
        }
      }
    }
  }

  .card-back {
    background-color: #1C448E; 
    transform: rotateY(180deg);
    border: 10px solid #1C448E; 
    display: flex;
    align-items: center; 
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}