footer {
  padding: 2rem 0;
  text-align: center;
  margin-top: 4rem;
  border-top: solid 1px rgba($color: white, $alpha: 0.5);

  div {
    display: flex;
    justify-content: center;

    a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      transition: 1s ease;
      transform-origin: left;
    }

    &:hover a {
      text-decoration: underline;
      transform: rotateZ(360deg);
      transform-origin: right;
    }
  }
}
