// --- INIT STYLE ---
@use "normalize";
@use "variables";

// --- PAGE ---
@use "./pages/mentions-legales";
@use "./pages/page404.scss";

// --- COMPONENTS ---
@use "./components/cardPokemon";
@use "./components/detailPokemon";
@use "./components/footer";
@use "./components/loader";
@use "./components/sidebar";

body {
  background-color: #414141;
  margin: 0;
  padding-left: 5rem;

  h1 {
    text-align: center;
    margin-top: 1rem;
  }

  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}

header img {
  width: 30rem;
}
